<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>kDescription</string>
	<string>kResetWordbook</string>
	<string>kWordbookArrangeByType</string>
	<string>kWordbookHideReadWords</string>
	<string>kAppVersion</string>
	<string>kContact</string>
	<string>kHiddenMenu</string>
</array>
</plist>
